<h1>Tous les utilisateurs</h1>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.nom, user %>,
      <%= user.email%>,
      <%= user.dateNaissance%>,
      <%= user.age %>,
      <%= user.taille %>,
      <%= user.poidsActuel%>,
      <%= user.poidsIdeal%>,
      <%= user.imc %>,
      <%= user.estSportif%>,
      <%= user.souhaitePratiquerSport%>
    </li>
  <% end %>
</ul>