<h1>List des utilisateurs</h1>
<p class="export">Télécharger la liste des utilisateurs en pdf <%= link_to image_tag("pdf_export.png", size: "25x25"), "/users.pdf"%></p>

<table>                         
  <tr>                          
    <th>Nom</th>
    <th>Email</th>
    <th>Date de Naissance</th>
    <th>Age</th>
    <th>Taille</th>
    <th>PoidsA</th>
    <th>PoidsI</th>
    <th>IMC</th>
    <th>Sportif</th>
    <th>Souhaite Pratiquer</th>
    <th>CV</th>
  </tr>
	<% @users.each do |user| %>
	  <tr>
			<td><%= link_to user.nom, user %></td>
			<td><%= user.email%></td>
			<td><%= user.dateNaissance%></td>
			<td><%= user.age %></td>
			<td><%= user.taille %></td>
			<td><%= user.poidsActuel%></td>
			<td><%= user.poidsIdeal%></td>
			<td><%= user.imc %></td>
			<td><%= user.estSportif ? "oui" : "non" %></td>
			<td><%= user.souhaitePratiquerSport  ? "oui" : "non" %></td>
			<td><%= link_to "Download", user.cvpdf.url(:original, false) if user.cvpdf.size %></td>
	  </tr>
	<% end %>
</table>

<div id="container1" style="width:100%; height:400px;"></div>
<div id="container2" style="width:100%; height:400px;"></div>

<script type="text/javascript"> 
    $(function () { 
        $('#container1').highcharts({
            chart: {
                type: 'line'
            },
            title: {
                text: 'Courbe des Poids Actuels et Idéaux des utilisateurs'
            },
            yAxis: {
                title: {
                    text: 'Poigs en kg'
                }
            },
            series: [{
                name: 'Poids Actuels',
                data: <%=@user_statistics.poids_ac_users%>
            }, {
                name: 'Poids Idéaux',
                data: <%=@user_statistics.poids_id_users%>
            }]
        });
    });

    $(function () {
        $('#container2').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Répartition des imc utilisateurs'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            series: [{
                type: 'pie',
                name: 'Browser share',
                data: <%= raw @user_statistics.repartition_imc.as_json %>
            }]
        });
    });
</script>